* {
  box-sizing: border-box;
  margin: 8px;
  word-wrap: normal;
}

body {
  background-color: #f7f7f8;
  font-family: sans-serif;
  font-size: 16px;
}

/* header and footer style */

#head h1 {
  color: chocolate;
}
#head,
#foot {
  background-color: #6d7780;
  margin: 0;
  border: 1px solid rgb(124, 123, 123);
}
footer a {
  text-decoration: none;
}
footer button {
  border-radius: 2px;
  height: 1.5rem;
  background-color: #02b3e4;
  border: 2px solid black;
}

footer button:disabled:first-child:hover,
footer button:disabled a:hover {
  cursor: not-allowed;
  background-color: slategrey;
  color: snow;
}
footer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: stretch;
  height: min-content;
}
#foot p {
  text-align: center;
}
#foot div {
  text-align: center;
}
#foot i {
  color: #e87373;
  margin: 0;
}
