/* Profile style */

.profile-image img {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  #profile {
    background-color: #53DCD0;
    font-size: 0.9rem;
  }
  
  .profile-image h2 {
    text-align: center;
    border-bottom: 1px solid black;
    color: #f7f7f8;
  }
  